<h1>Dashboard Home</h1>

<%

# *** scan for new posts ***
subscriptions = Subscription.all
subscriptions.each {|s|
  
}

# *** schedule responses ***




%>


<%= render "recent_activity" %>

<%= render "scheduled_responses" %>

