<h1>Welcome to e-Breaux</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit, leo ac bibendum mattis, leo leo volutpat orci, vitae viverra diam sapien a magna. Suspendisse a erat ut tellus aliquet aliquet ultricies vitae turpis. Integer id turpis risus. Pellentesque commodo, neque ut luctus dapibus, dolor dui scelerisque diam, ut dignissim dui neque sed enim. </p> 


<div id="login-container">
  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script>
     FB.init({ 
        appId:'137544799663380', cookie:true, 
        status:true, xfbml:true 
     });
  </script>
  <fb:login-button onlogin="location.href = '/facebooks/show'"  perms="email,publish_stream" >Login with Facebook</fb:login-button>
</div>
